<nav id="sidebar">
  <div class="sidebar-header">
    <a href="/"><h2>Sakhir Hotels</h2></a>
    <h4>Admin Panel</h4>
  </div>

  <ul class="list-unstyled components">
    <li class="navheader">Manage Users</li>
    <li>
      <a href="/a-users#">Users</a>
    </li>
    <li>
      <a href="/a-createUser">Create User</a>
    </li>

    <li class="navheader">Manage Bookings</li>
    <li>
      <a href="/a-bookings">Bookings</a>
    </li>
    <li>
      <a href="/a-bookinglogs">Booking Logs</a>
    </li>

    <li class="navheader">Manage Promotions</li>
    <li>
      <a href="/a-promotions">Promotions</a>
    </li>
    <li>
      <a href="/a-createPromotion">Create Promotion</a>
    </li>

    <li class="navheader">Manage Contact Forms</li>
    <li>
      <a href="/a-contacts">Contact Forms</a>
    </li>

    <li class="navheader">Manage Logs</li>
    <li>
      <a href="/a-templogs">Temperature Logs</a>
      <a href="/a-createTempLog">Create Temperature Log</a>
    </li>
    <li>
      <a href="/a-swablogs">Swab Test Logs</a>
    </li>

    <li class="navheader">Live Support Chats</li>
    <li>
      <a href="/a-chatusers">Users</a>
    </li>

    <li class="navheader">Manage Reviews</li>
    <li>
      <a href="/a-reviews">Reviews</a>
    </li>

    <li class="navheader">Room Management</li>
    <li>
      <a href="/a-rooms">Rooms</a>
    </li>
    <li>
      <a href="/a-createRoom">Create Room</a>
    </li>
  </ul>
</nav>
