{% extends "admin.html" %}

{% block content %}
<h1 class="display-4">Room Booking Logs</h1>
<div>
  {% if count == 0 %}
  <p>There are no booking logs.</p>
  {% elif count == 1 %}
  <p>There is 1 booking log.</p>
  {% else %}
  <p>There are {{ count }} booking logs.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Room Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for bookinglog in bookinglog_list %}
      <tr>
        <td>{{ bookinglog.get_bookinglog_id() }}</td>
        <td>{{ bookinglog.get_customer_id() }}</td>
        <td>{{ bookinglog.get_customer_name() }}</td>
        <td>{{ bookinglog.get_room_type() }}</td>
        <td>{{ bookinglog.get_startDate() }}</td>
        <td>{{ bookinglog.get_endDate() }}</td>
        <td><a href="/a-updateBookingLog/{{bookinglog.get_bookinglog_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_bookinglog', id=bookinglog.get_bookinglog_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{bookinglog.get_bookinglog_id()}}?');">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
