{% extends "admin.html" %}

{% block content %}
<h1 class="display-4">Contact Forms</h1>
<div>
  {% if count == 0 %}
  <p>There are no contact forms.</p>
  {% elif count == 1 %}
  <p>There is 1 contact form.</p>
  {% else %}
  <p>There are {{ count }} contact forms.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Contact ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>User Phone Number</th>
        <th>User Query</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for contact in contact_list %}
      <tr>
        <td>{{ contact.get_contact_id() }}</td>
        <td>{{ contact.get_name() }}</td>
        <td>{{ contact.get_email() }}</td>
        <td>{{ contact.get_tel() }}</td>
        <td>{{ contact.get_msg() }}</td>
        <td>{{ contact.get_status() }}</td>
        <td><a href="/a-updateContact/{{contact.get_contact_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_contact', id=contact.get_contact_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{contact.get_contact_id()}}?');">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
