<html>
  <head>
    <title>Phone Verification</title>
    <link rel="stylesheet" type="text/css" href="/css/forms.css"></link>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/forms.js"></script>
    <link rel="icon" href="/Images/logotransparent.png">
  </head>

  <body>
    <div id="centerform">
      <a href="/"><img src="/Images/logotransparent.png"/></a>
      <h1 class="display-4">Phone Number Verification</h1>
      <form action="/verify" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <fieldset>
           <legend>Enter the code you were sent:</legend>
           <input name="token" id="token">
          </fieldset>
        </div>
        <button name="button" type="submit" id="submit">Verify</button>
      </form>
    </div>
  </body>
</html>
